# Flask stuff:
instance/
.webassets-cache

# User-specific stuff
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

app/__pycache__
__pycache__

.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

migrations